@mixin navbar {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6em;
    padding: 0.5rem 1rem;

    // branding/logo
    .logo {
      align-items: center;
      font-size: $fs-7;
      z-index: 1000;
      color: $color-dark;
      transition: color 0.5s ease-in-out;

      .logo-img {
        max-width: 35px;
      }
      .branding {
        margin-right: 4px;
        margin-top: -3px;
        font-family: $font-brand;
        color: #333;
        font-weight: 800;
        font-size: 22.4211px;
        transition: color 0.8s ease-in-out;
      }
    }
    .logo.active .branding {
      color: rgb(218, 218, 218) !important;
    }

    // hamburger /toggle button for navigation bar
    .hamburger {
      display: block;
      cursor: pointer;
      z-index: 1000;

      .line {
        width: 25px;
        height: 2px;
        background-color: rgb(31, 148, 111);
        margin: 3.6px 0px;
        border-radius: 50px;
      }
    }

    // navigation / container for all links /cta's
    .navigation {
      position: absolute;
      height: 0px;
      top: 0px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: $color-primary;
      transition: height 0.4s ease-in-out;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      .ul-tag {
        gap: 2em;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.9s;
        opacity: 0;

        li {
          display: inline-block;
          margin-bottom: -5px;
          transition: 0.9s;
          text-align: center;
          padding: 5px 15px;
          border-bottom: 2px solid $primary-color-light;
          border-radius: 8px;
          transition: border 0.1s ease-in-out;
        }
        li:last-child {
          margin-bottom: 10px;
        }
        li:hover {
          border: 2px solid $primary-color-light;
          border-radius: 20px;
        }
      }

      .link {
        transition: 0.3s ease-in-out;
        color: white;
        font-family: $font-mono;
        font-size: $fs-8;
        text-transform: uppercase;
      }
    }

    .navigation.active {
      height: 450px;
      z-index: 900;
    }
    .navigation.active .ul-tag {
      opacity: 1;
    }
  }
}
